html,
body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    background-color: #F55A5A;
    color: white;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.header-logo {
    width: 25px;
    margin-right: 7px;
}

header span {
    font-weight: 500;
}

.journal-entry {
    margin: 20px 30px;
    display: flex;
}

.article-img-container {
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;
}

.article-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.details-container {
    display: flex;
    flex-direction: column;
}

.location-container {
    display: flex;
}

.location-icon {
    width: 7px;
    margin-right: 4px;
}

.location-container span {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-right: 12px;
}

.location-container a {
    color: #2B283A;
    font-size: 0.7rem;
}

.location-container a:visited {
    color: #918E9B;
}

.details-container h2 {
    margin-top: 7px;
    margin-bottom: 17px;
}

#entry-dates {
    font-weight: bold;
}

#entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}