AI_KEY = <API token gotten from the OpenAI platform>
AI_URL = https://api.openai.com/v1
AI_MODEL = gpt-5-nano
ALLOWED_ORIGINS=<allowed domains to access the backend e.g https://mywebssite.com,http://localhost:3000,http://localhost:5173>