body {
    margin: 0;
    font-family: "Smythe", system-ui;
    /* background-color: #757575; */
}

/* topography */

h1.emoji {
    font-family: "Inter", sans-serif;
    font-size: 78px;
    font-weight: 400;
    margin-top: 0;
    line-height: 1.2;
}

h2 {
    font-size: 28px;
    font-weight: 400;
    color: #000000;
    margin: 0 0 8px;
}

h2.order-title {
    text-align: center;
}

h3 {
    text-align: center;
    font-family: "Arimo", sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 46px;
}

h4.feedback-text {
    font-family: "Smythe", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #065F46;
}

p.ingredients {
    font-size: 16px;
    font-weight: 400;
    color: #8B8B8B;
    margin: 0 0 8px;
}

p.price {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    margin: 0;
}

p.price::before {
    content: "$";
}

input {
    display: block;
    width: 100%;
    height: 72px;
    box-sizing: border-box;
    margin-bottom: 23px;
    padding: 15px 25px;
    border-radius: 4px;
    border: 1.3px solid #757575;

    /* Text */
    font-family: "Arimo", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

input::placeholder {
    color: #757575;
}



/* Layout */

header {
    width: 100%;
    height: 167px;
    background-image: url("/images/header.png");
    background-size: 100%;
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
}

.menu-item {
    display: flex;
    margin: 67px 46px 45px;
    max-width: 508px;
    gap: 30px;
    border-bottom: 1px solid #D2D2D2;
}

.order-container {
    display: none;
}

.order-container,
.feedback-container {
    margin: 0 46px;
}

.order-items-container {
    margin-bottom: 23px;
}

.order-item-container,
.total-price-container {
    display: flex;
    gap: 13px;
}

.order-item-container .price,
.total-price-container .price {
    margin-left: auto;
}

.total-price-container {
    border-top: 2px solid #393333;
    padding: 14px 0 53px;
}

section.form-container {
    display: none;
    width: 492px;
    height: 482px;
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 30px 25px;
    border-radius: 4px;
}

.feedback-container {
    display: none;
    width: 504px;
    height: 120px;
    background-color: #ECFDF5;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}


/* Buttons */

.add-item {
    margin-left: auto;
    width: 50px;
    height: 50px;
    border: 1.5px solid #DEDEDE;
    background-color: #ffffff;
    border-radius: 50%;

    /* Text */
    font-weight: 200;
    font-size: 32px;
    font-family: "Inter", system-ui;
    color: #3C3C3C;
}

.remove-btn {
    border: none;
    background-color: #ffffff;
    font-size: 12px;
    font-family: "Arimo", sans-serif;
    color: #BBBBBB;
}

.complete-btn {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 4px;
    background-color: #16DB99;

    /* Text */
    font-family: "Arimo", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.pay-btn {
    display: block;
    width: 100%;
    height: 71px;
    margin-top: 46px;
    background-color: #16DB99;
    border: none;
    border-radius: 4px;

    /* Text */
    font-family: "Arimo", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}